* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
.login-box {
    background: #1bbbfc;
    padding: 30px 40px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Added box shadow */
}
.login-box img {
    width: 150px; /* Adjusted logo size */
    margin-bottom: 20px; /* Added margin */
}
.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="number"],
.login-box textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.login-box textarea {
    height: 100px; /* Set a height for the textarea */
    resize: none; /* Prevent resizing */
}
.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #0859b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
   
}
.login-box button:hover {
    background-color: #005f8d;
}
.login-box p {
    margin-bottom: 20px;
}
.login-box .checkbox-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.login-box .checkbox-container input {
    margin-right: 10px;
}